html,
body,
h1,
h2,
p {
    margin: 0;
    padding: 0px;

}


body {
    font-family: Arial, Helvetica, sans-serif;


}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    font-size: 20px;

}

img {


    width: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}


h2 {
    position: relative;
    bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 1.2em;
}

.container {
    background-color: orangered;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    line-height: 100px;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.janela {
    height: 100px;
    width: 100px;
    color: orangered;
    background: white;
    margin: 1rem;

}

form {

    padding-top: 15px;
    text-align: center;

}

.email {

    height: 2rem;
    width: 1rem ; 
    min-width: 60%;
     
}

.submit {
    background-color: orangered;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
    margin-top: 1rem;
    height: 2.2rem;
    border-radius: 0.5rem;

}

.linha {
    height: 200px;
}

.cor1 {
    background: rgb(98, 108, 190);
    height: 400px;
}

.cor2 {
    background: orangered;
    height: 180px;
}

.cor3 {
    background: rgb(187, 187, 206);
    height: 375px;
}

@media only screen and (max-width: 600px) {

    h2 {
        position: relative;
        top: 2.5rem;
        left: 1rem;
    }

    img {
        width: 60%;
        margin-right: 4.5rem;
    }
}